{% extends 'base.html' %}

{% block content %}
<div class="docs-content">
    <div class="django-documentation">
        <h1>시작하기</h1>
        <p>Django가 처음이세요? 일반적인 웹 개발이 처음이신가요? 좋아요, 여기 잘 오셨습니다: 빠르게 시작하기 위해 이 자료를 읽어보세요.</p>
    </div>
    <div class="docs-session">
        <ul>
            <li><a href="">Django 훑어보기</a></li>
            <li><a href="">빠른 설치 가이드</a></li>
            <li><a href="">첫 번째 장고 앱 작성하기, part 1</a></li>
            <li><a href="">첫 번째 장고 앱 작성하기, part 2</a></li>
            <li><a href="">첫 번째 장고 앱 작성하기, part 3</a></li>
            <li><a href="">첫 번째 장고 앱 작성하기, part 4</a></li>
            <li><a href="">첫 번째 장고 앱 작성하기, part 5</a></li>
            <li><a href="">첫 번째 장고 앱 작성하기, part 6</a></li>
            <li><a href="">첫 번째 장고 앱 작성하기, part 7</a></li>
            <li><a href="">심화 튜토리얼: 재사용 가능한 앱을 만드는 방법</a></li>
            <li><a href="">다음에 읽을 내용</a></li>
            <li><a href="">첫 Django 패치 작성하기</a></li>
        </ul>
    </div>
</div>
{% endblock %}