{% extends 'base.html' %}
{% block content %}
<div class="docs-content">
  <div class="django-documentation">
<h1>Django 문서</h1>
<p>장고에 대해 알아야할 모든것</p>
</div>
  <div class="docs-session">
<h2>이 문서의 구조</h2>
<p>Django는 문서가 아주 많습니다. 높은 수준에서의 개요를 알면 원하는 정보를 어떤 문서에서 찾을지 알 수 있습니다.</p>

<ul>
  <li>Tutorials는 단계별로 친절하게 웹 어플리케이션 제작을 도와줍니다. 처음 Django를 접하거나 웹 개발에 입문 단계라면 여기서 시작하십시오. 또한 하단의 "첫걸음"을 읽어보십시오.</li>
  <li>주제 안내는 주요 주제와 개념을 높은 수준에서 논의하고 유용한 배경 지식과 설명을 제공합니다.</li>
  <li>레퍼런스 가이드 API와 Django의 여러 기능들에 대한 기술적 레퍼런스를 담고 있습니다. 이 가이드는 독자가 기본적인 주요 개념에 대해 이해하고 있다고 가정하고, 어떻게 동작하고 사용하는지 설명합니다.</li>
  <li>How-to 가이드는 레시피입니다. 주요 문제와 사용 사례들의 해결 방법들을 단계별로 안내해 줍니다. 여기서는 Django가 어떻게 동작하는지 알고 있다고 가정하고 Tutorials보다 심화된 내용을 다룹니다.</li>
</ul>
</div>
  <div class="docs-session">
<h2>첫걸음</h2>
<p>Django 또는 프로그래밍이 처음이신가요? 이곳에서 시작하세요!</p>

<ul>
  <li>바닥부터 시작하기 개요|설치</li>
  <li>튜토리얼: Part 1:요청과 응답|Part 2: 모델과 관리자 페이지|Part 3: 뷰와 템플릿|Part 4: 폼과 기본 뷰|Part 5: 테스팅|Part 6: 정적 파일|Part 7: 관리자페이지 커스터마이징</li>
  <li>심화 튜토리얼: 재사용 가능한 앱을 작성하는 방법|Django의 첫 패치를 작성하기</li>
</ul>
</div>

  <div class="docs-session">
<h2>모델 계층</h2>
<p>Django는 웹 애플리케이션의 데이터를 구조화하고 조작하기 위한 추상적인 계층("모델")을 제공합니다.더 알아보세요:</p>

<ul>
  <li>Models:모델 소개|필드 유형|색인|메타 옵션|모델 클래스</li>
  <li>쿼리집합:쿼리 만들기|QuerySet 메소드 참조| 조회 표현식</li>
  <li>모델 인스턴스 인스턴스 메소드|관련 객체에 접근하기</li>
  <li>마이그레이션:마이그레이션 소개|연산자 레퍼런스|스키마에디터|마이그레이션 작성하기</li>
  <li>심화:매니저|Raw SQL|트랜잭션|집계|검색|맞춤 필드|다중 데이터페이스|맞춤 룩업|쿼리표현식|조건식|데이터베이스 함수</li>
  <li>그 외: 지원되는 데이터베이스|레거시 데이터베이스|초기 데이터 제공|데이터베이스 접근 최적화|PostgreSQL만의 기능</li>
</ul>
  </div>
<div class="docs-session">
<h2>뷰 계층</h2>
<p>Django는 사용자의 요청을 처리하고 결과를 반환하기 위한 로직을 캡슐화한 "뷰"의 개념을 갖고 있습니다. 뷰에 대해서 알아야할 모든 것을 아래 링크에서 찾아보세요</p>

<ul>
  <li>기초 URLconf|뷰 함수|단축 함수들|데코레이터</li>
  <li>레퍼런스 내장된 뷰|Request/response 객체|TemplateResponse 객체</li>
  <li>파일 업로드 개요|File 객체|스토리지 API|파일 다루기|커스텀 스토리지</li>
  <li>클래스 기반 views: 개요|내장된 디스플레이 뷰|내장된 편집 뷰|믹스인 사용하기|API 레퍼런스|Flattened index</li>
  <li>심화: CSV생성|PDF 생성</li>
  <li>미들웨어: 개요|내장된 미들웨어 클래스</li>
</ul>
</div>
  <div class="docs-session">
<h2>템플릿 계층</h2>
<p>템플릿 계층은 사용자에게 표시할 정보를 표현하기 위해 디자이너에게 친숙한 문법을 제공합니다. 디자이너들이 이 문법을 사용하는 방법과 프로그래머들이 확장하기 위한 방법을 알바오세요.</p>

<ul>
  <li>기초: 개요</li>
  <li>디자이너: 언어 개요|빌트인 태그와 필터|휴머나이제이션</li>
  <li>프로그래머: 템플릿 API|맞춤 태그와 필터</li>
</ul>
</div>
  <div class="docs-session">
<h2>폼</h2>
<p>Django는 쉽게 폼을 만들고 폼 데이터를 다루기 위한 풍부한 프레임워크를 제공합니다.</p>

<ul>
  <li>기초: 개요|폼 API|내장된 필드|내장된 위젯</li>
  <li>고급: 모델을 위한 폼|미디어 통합|폼셋|맞춤 유효성 검증</li>
</ul>
</div>
<div class="docs-session">
<h2>개발 프로세스</h2>
<p>여러 구성 요소들과 Django 애플리케이션의 개발과 테스트를 도와줄 다양한 도구들을 알아보세요:</p>

<ul>
  <li>설정: 개요|전체 설정 목록</li>
  <li>애플리케이션: 개요</li>
  <li>예외: 개요</li>
  <li>django-admin과 manage.py:개요|맞춤 명령 추가하기</li>
  <li>테스팅:소개|테스트를 작성하기 실행하기|내장된 테스팅 도구|심화 주제</li>
  <li>배포: 개요|WSGI 서버|정적 파일 배포|이메일로 에러 코드 추적</li>
</ul>
</div>
<div class="docs-session">
<h2>관리자</h2>
<p>Django의 가장 인기 있는 기능 중 하나인 자동적 관리 인터페이스를 이해하기 위한 모든 것들을 찾아보세요:</p>
<ul>
  <li>Admin 사이트</li>
  <li>Admin 액션</li>
  <li>Admin 문서 생성기</li>
</ul>
  </div>
</div>
{% endblock %}
