{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django 문서 | Django documentation | Django</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
<div id="wrap">
    <header class="header-container">
        <a class="logo" href="">Django</a>
        <p>The web framwork for<br>perfectionists with deadlines.</p>
    </header>

</div>
</body>
</html>